<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <p>Hello, <%= current_user.username %></p>
      <%= render 'form', room: Room.new %>
      <hr>
      <%= render partial: 'all_rooms', locals: { rooms: @rooms } %>
    </div>
    
    <div class="col-9 chat-room">
      <% if @room.present? %>
        <div class="chat-room">
          <%= @room.name %>
          <% @room.messages.each do |message| %>
            <p><%= message.user.username %>: <%= message.content %></p>
          <% end %>
          <div class="chat-box">
            <%= render partial: 'messages/form',
                       locals: { message: Message.new, room: @room, } 
            %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
