<div id="current_user_id" data-user-id="<%= current_user().id %>"></div>
<div id="current_room_id" data-room-id="<%= @room.try(:id) %>"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <%= render 'shared/logged_as', user: current_user %>
      <hr>
      <%= render 'form', room: Room.new %>
      <hr>
      <%= render partial: 'all_rooms', locals: { rooms: @rooms } %>
    </div>
    
    <div class="col-9 chat-room">
      <% if @room.present? %>
        <div class="chat-room">
          <%= render partial: 'rooms/navbar', locals: { room: @room } %>
          <%= render partial: 'messages/all_messages', locals: { room: @room } %>
          <div class="chat-box">
            <%= render partial: 'messages/form', locals: { message: Message.new, room: @room, } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
